<div class="generator-page">

  <div class="generator-card">

    <h2>🔐 Password Generator</h2>

    <div class="option-row">
      <label>Password Length</label>
      <input type="number" [(ngModel)]="length" min="8" max="32">
    </div>

    <div class="checkbox-group">

      <label>
        <input type="checkbox" [(ngModel)]="useUppercase">
        Include Uppercase
      </label>

      <label>
        <input type="checkbox" [(ngModel)]="useNumbers">
        Include Numbers
      </label>

      <label>
        <input type="checkbox" [(ngModel)]="useSymbols">
        Include Symbols
      </label>

    </div>

    <button class="generate-btn" (click)="generate()">
      Generate Secure Password
    </button>

    <div class="password-result" *ngIf="password">

      <input
        class="password-field"
        type="text"
        [value]="password"
        readonly
      >

      <button class="copy-btn" (click)="copy()">Copy</button>

      <button class="regen-btn" (click)="generate()">↻</button>

    </div>

    <!-- <div class="strength" *ngIf="password">
      Strength: <span>{{getStrength()}}</span>
    </div> -->

    <div class="strength" *ngIf="password">
  Strength:
  <span
    [ngClass]="{
      'weak': getStrength() === 'Weak',
      'medium': getStrength() === 'Medium',
      'strong': getStrength() === 'Strong',
      'very-strong': getStrength() === 'Very Strong'
    }"
  >
    {{ getStrength() }}
  </span>
</div>


  </div>

</div>
